{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Seek possible attacks </h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
                        	<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Analysis</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Seek possible attacks</a>
					</li>
				</ul>
			</div>
		<div class="page-inner ">
			<div class="row ">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Seek for attacks based on Services and payloads sizes</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
                            <div class="form-group form-floating-label">
                                    <form action=" " method="post" id="firstform">
                                        {{ form.hidden_tag() }}
                                    <p> {{ form.value(id="inputFloatingLabel1",class="form-control input-solid col-md-6", placeholder="Number of line to print") }} </p>

                                    <p >{{ form.submit(class="btn btn-primary btn-sm") }}</p>
                                    </form>
                                </div>
							<pre class="demo text-white"> {{ var1 }}</pre>
						</div>
					</div>
				</div>
            </div>
            <div class="row ">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Seek for attacks based on legimate services but using none normalized port</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
                            <div class="form-group form-floating-label">
                                    <form action=" " method="post" id="secform">
                                        {{ form2.hidden_tag() }}
                                    <p> {{ form2.name(id="inputFloatingLabel2",class="form-control input-solid col-md-6", placeholder="service name") }} </p>
                                    <p> {{ form2.valeur(id="inputFloatingLabel3",class="form-control input-solid col-md-6", placeholder="Number of line to print") }} </p>

                                    <p >{{ form2.submit(class="btn btn-primary btn-sm") }}</p>
                                    </form>
                                </div>
							<pre class="demo text-white"> {{ var2 }}</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>


{% endblock javascripts %}
