{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Global statistics per service</div>
							<div class="card-category">Global statistics per service</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="card-body">
                                    <p class="demo">
                                        <img class="avatar-img" style="height:90%;width:80%; margin-left: 100px" src="/plotglobserv.png" alt="not-found" />
                                    </p>
						        </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Global statistics per protocol</div>
							<div class="row py-3">
								<div class=" d-flex flex-column justify-content-around">
									<div class="card-body">
                                        <p class="demo">
                                            <img class="avatar-img"  src="/plotglobpro.png" alt="not-found" />
                                        </p>
						            </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Describe General Data</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="demo text-white"> {{ var }}</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}
