
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/admin-dashboards/flask-dashboard-atlantis-dark">
									Projet PFA 2021
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://www.themekita.com">INPT-Rabat</a>
                        - coded by <a target="_blank" href="https://appseed.us">ICCN</a>
					</div>				
				</div>
            </footer>
            