{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">General Data Info </h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
                        	<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Statistics</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">General Information</a>
					</li>
				</ul>
			</div>
		<div class="page-inner ">
			<div class="row ">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Desribes Data</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<pre class="demo text-white"> {{ var1 }}</pre>
						</div>
					</div>
				</div>
                <div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Recurrent Payload size value</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<pre class="demo text-white">
                                {{ var2 }}
                            </pre>
						</div>
					</div>
                </div>
			</div>
            <div class="row ">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Data Median</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<pre class="demo text-white"> {{ var3 }}</pre>
						</div>
					</div>
				</div>
                <div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Recurrent value in Data</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<pre class="demo text-white"> {{ var4 }}</pre>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>

{% endblock javascripts %}
